

#content {
    width: 200px;
    height: 200px;
    border: 1px solid #c3c3c3;
    display: flex;
    flex-direction: column;
  }

  .box {
    width: 1250px;
    height: 25px;
    color: white;
    font-family: sans-serif;
    padding: 40px;
    font-size: larger;
}

.box p  {
    margin-left: 40px;
    display: block;
    text-align: left;
}




.imgg {
border-radius: 100px;
float: center;
margin: 0px 0px 15px 0;
position: relative;
top: 0%;
float: right;
transform: translateY(-65%);
}
    


  .box1 {
    width: 700px;
    height: 180px;
    color: black;
    font-family: sans-serif;
    padding: 40px;
}
.box1 h2 {
    
    margin-left: 0px;
    line-height: 0px;
   }

 .box1 h3 {
     color: #0475ba;
     margin-left: 0%;
     margin: 40px;
    }


  .box2 {
    width: 1250px;
    height: 125px;
    color: white;
    text-align: left;
    font-family: sans-serif;
    padding: 40px;  
  }

  .box2 h2  {
    margin-left: 20%;
}
.box2 ul  {
    margin-left: 20%;
}


  .box3 {
    width: 1250px;
    height: 275px;
    text-align: left;
    font-family: sans-serif;
    padding: 40px;
    margin-left: 22%;
  }
  .box3 h2 {
    color: #0475ba;
    
   }
   
   .colonne1, .colonne2 {
    width: 600px;
    height: 50px;
    float:left;
}
    .colonne3 {
    width: 1400px;
    float: left;
}
.colonne4 {
    width: 650px;
    height: 100px;
    float: right;
}
  .box4 {
    width: 1250px;
    height: 150px;
    text-align: left;
    color: white;
    font-family: sans-serif;
    padding: 40px;
    
  }
  .box4 h2 {
    margin-left: 20%;
}

.box4 p {
    margin-left: 20%;
}

.colonne5 {
    width: 1050px;
    height: 0px;
    float: right;

}

.colonne6 {
    width: 450px;
    height: 100px;
    float: right;
}

.colonne7 {
    width: 1000px;
    height: 50px;
    float:left;
}

.colonne8 {
    width: 250px;
    float: right;
}

  .box5 {
    width: 12050px;
    height: 80px;
    text-align: left;
    font-family: sans-serif;
    padding: 40px;
    margin-left: 22%;
  }
  .box5 h2 {
    color: #0475ba;
   }

  .box6 {
    width: 1250px;
    height: 50px;
    text-align: left;
    color: white;
    font-family: sans-serif;
    padding: 40px;
    
  }


  .box6 li  {
    margin-left: 15px;
    display: inline;
}






  header {
      text-align: center;
      font-family: sans-serif;
    }